@import "tailwindcss";

@theme inline {
  --color-sea-salt: hsl(0, 0%, 97%);
  --color-sea-green: hsl(159, 100%, 28%);
  --color-platinum: hsl(45, 14%, 89%);
  --color-rich-black: hsl(227, 23%, 8%);
  --color-night: hsl(210, 40%, 4%);
}
